<h1 id="tableLabel">Bargains for Couples</h1>

<p>This component demonstrates fetching data from an API.</p>

<p *ngIf="!bargains"><em>Please input a Destination Id and the Number of Nights</em></p>
<div class="md-form">

  <label for="destinationId">Destination Id</label>
  <input mdbInput type="number" name="destinationId" [(ngModel)]="destinationId" id="destinationId" class="form-control">
  <label for="numberOfNights">Number of Nights</label>
  <input mdbInput type="number" name="numberOfNights" [(ngModel)]="numberOfNights" id="numberOfNights" class="form-control">
  <button (click)="fetchBargains()" mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
    mdbWavesEffect class="btn-primary">Find Hotels</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bargains">
  <thead>
    <tr>
      <th>Hotel Name</th>
      <th>Price for No Meals</th>
      <th>Price for Half Board</th>
      <th>Price for Full Board</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bargain of bargains">
      <td>{{ bargain.hotel.name }}</td>
      <td *ngFor="let rate of bargain.rates">{{ rate.value }}</td>
    </tr>
  </tbody>
</table>
